.avro_abs {
  background: #ffffff;
  direction: rtl;
}

div.post-it-note {
  width: 35%;
  min-width: 13em;
  margin: 3em auto;
}

.post-it-note p {
  font-family: helvetica;
  font-size: 2em;
  font-weight: bold;
}

.post-it-note {
  padding: 2em;
  background: #99bfe6;
  position: relative;
  min-height: 10em;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.post-it-note:after {
  content: "";
  position: absolute;
  bottom: -2em;
  left: 2em;
  right: 0;
  border-width: 1em;
  border-style: solid;
  border-color: #99bfe6;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.post-it-note:before {
  content: "";
  position: absolute;
  bottom: -2em;
  left: 0;
  border-width: 2em 2em 0 0;
  border-style: solid;
  border-color: #7da1c4 transparent;
  transform: rotate(90deg);
}
