.avro_nav_container {
  direction: rtl;
  background: #014891;  
}

.avro_nav_container ul {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  color: white; 
}

.avro_nav_container ul a {
  text-decoration: none;
  color: white;
}

.avro_nav_container h3 {
  margin: 0 auto;
  padding: 15px 44% 15px 0px!important;
  display: flex!important;
  align-items: center;
}

.avro_nav_container h3:hover {
  background: #36CEF0;
}

.avro_nav_container i {
  padding: 0 0 0 5px!important;
}

#page-course-view-topcoll .course-content ul.ctopics #section-0 .content, #page-course-view-weeks ul.weeks #section-0 .content {
  background-color: rgba(0, 0, 0, 0)!important;
}

.avro_top {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1D90F5;
  min-height: 100vh;
  margin: 0;
  font-family: roboto;
}
.avro_top:before {
  content: '';
  background: #E8FAFF;
  height: 50%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.avro_top .menu {
  display: block;
  box-sizing: border-box;
  background: white;
  height: 87.75px;
  width: 87.75px;
  padding: 36px;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.15);
  transition: 1.3s cubic-bezier(0.53, 0, 0.15, 1.3);
}
.avro_top .menu.expanded {
  width: 351px;
}

.avro_top span {
  padding: 9px;
  white-space: nowrap;
  visibility: visible;
  opacity: 1;
  transition: .3s;
  transform: rotateY(0deg);
}
.avro_top span:nth-of-type(1) {
  transition-delay: .4s;
}
.avro_top span:nth-of-type(2) {
  transition-delay: .5s;
}
.avro_top span:nth-of-type(3) {
  transition-delay: .6s;
}
.avro_top span:nth-of-type(4) {
  transition-delay: .7s;
}
.avro_top span.hidden {
  width: 0;
  visibility: hidden;
  opacity: 0;
  transform: rotateY(90deg);
}
.avro_top span.hidden:nth-of-type(1) {
  transition-delay: .3s;
}
.avro_top span.hidden:nth-of-type(2) {
  transition-delay: .2s;
}
.avro_top span.hidden:nth-of-type(3) {
  transition-delay: .1s;
}
.avro_top span.hidden:nth-of-type(4) {
  transition-delay: 0s;
}
.avro_top span a {
  color: black;
  text-decoration: none;
  font-size: 16.36364px;
  transition: .3s;
}
.avro_top span a:hover {
  color: #1D90F5;
}

.avro_top .container {
  position: absolute;
  top: 22.5px;
  right: calc(100% - 73.125px);
  height: 42.75px;
  width: 58.5px;
  transition: 1s;
}
.avro_top .container.close {
  right: 0;
}

.avro_top .toggle {
  position: relative;
  height: 42.75px;
  width: 58.5px;
  cursor: pointer;
}
.avro_top .toggle:after, .toggle:before {
  content: '';
  background: #1D90F5;
  width: 36px;
  height: 4.5px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: 1.3s cubic-bezier(0.53, 0, 0.15, 1.3);
}
.avro_top .toggle:before {
  top: -30%;
}
.avro_top .toggle:after {
  top: 30%;
}
.avro_top .toggle.close:before {
  transform: rotate(-225deg);
  top: 0;
}
.avro_top .toggle.close:after {
  transform: rotate(225deg);
  top: 0;
}
