.avro_nav_container {
  direction: rtl;
  background: #004990;  
}

.avro_nav_container ul {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.avro_nav_container ul a {
  text-decoration: none;
}

.avro_nav_container h3 {
  margin: 0 auto;
  padding: 15px 7% 15px 0px!important;
  display: flex!important;
  align-items: center;
  color: white!important;
  border-bottom: 2px groove gray;
  font-size: 1.2em!important;
}

.avro_nav_container h3#first {
  color: #004990!important;
  background: white;  
}

.avro_nav_container h3#last {
  border-bottom: none; 
}

.avro_nav_container h3#special {
  background: #F47D30!important;
  border-bottom: none; 
}

.avro_nav_container h3:hover {
  background: #99bfe5!important;
  cursor: pointer; 
}

.avro_nav_container h3#special:hover {
  background: #99bfe5!important;
  cursor: pointer; 
}

.avro_nav_container i {
  padding: 0 0 0 5px!important;
}

#page-course-view-topcoll .course-content ul.ctopics #section-0 .content, #page-course-view-weeks ul.weeks #section-0 .content {
    background-color: rgba(0, 0, 0, 0)!important;
  padding: 0px!important;
}

.format-topcoll .ctopics #section-0 .content .summary .no-overflow {
    padding: 0px!important;
}

.dir-rtl#page-course-view-topcoll #region-main .course-content ul li .left.side {     margin-left: 0px!important;
  padding-right: 0px!important;
}

.avro_top {
border-radius: 10px;
height: 100px;
display: flex!important;
align-items: center;
justify-content: center;
background: -moz-linear-gradient(top,  rgba(153,191,229,1) 0%, rgba(245,249,252,0) 90%, rgba(255,255,255,0) 100%);
background: -webkit-linear-gradient(top,  rgba(153,191,229,1) 0%,rgba(245,249,252,0) 90%,rgba(255,255,255,0) 100%);
background: linear-gradient(to bottom,  rgba(153,191,229,1) 0%,rgba(245,249,252,0) 90%,rgba(255,255,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99bfe5', endColorstr='#00ffffff',GradientType=0 );
}

.avro_abstract {
  display: flex!important;
  direction: rtl;
  align-items: center;
}

.avro_abstract img {
  width: 125px;
  height: 125px;
  margin: 0 0 0 20px;
}

.avro_abstract p {
  font-size: 18px;
}

.avro_unit_intro {
  display: flex!important;
  direction: rtl;
  align-items: center;
}

.avro_unit_intro img {
  width: 200px;
  height: 200px;
  margin: 0 0 0 20px;
  border-radius: 10px;
  -webkit-box-shadow: 6px 6px 8px -2px rgba(0,0,0,0.48);
-moz-box-shadow: 6px 6px 8px -2px rgba(0,0,0,0.48);
box-shadow: 6px 6px 8px -2px rgba(0,0,0,0.48);
}

.avro_unit_intro p {
  font-size: 18px;
}

.activity_help {
  margin: 10px;
  text-align: left;
  color: black;
  cursor: pointer;
}

.avro_unit_section {
  font-size: 1.5em;
  direction: rtl;
  padding: 10px;
  border-radius: 10px;
  transform: translateX(3%);
}

#res {
    background: rgba(255,255,255,1);
background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 22%, rgba(153,191,230,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(22%, rgba(246,246,246,1)), color-stop(100%, rgba(153,191,230,1)));
background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 22%, rgba(153,191,230,1) 100%);
background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 22%, rgba(153,191,230,1) 100%);
background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 22%, rgba(153,191,230,1) 100%);
background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 22%, rgba(153,191,230,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#99bfe6', GradientType=1 );
}

#act {
  background: rgba(255,255,255,1);
background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 22%, rgba(244,125,48,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(22%, rgba(237,237,237,1)), color-stop(100%, rgba(244,125,48,1)));
background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 22%, rgba(244,125,48,1) 100%);
background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 22%, rgba(244,125,48,1) 100%);
background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 22%, rgba(244,125,48,1) 100%);
background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 22%, rgba(244,125,48,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f47d30', GradientType=1 ); 
}
