.avro_nav_container {
  direction: rtl;
  background: #014891;  
}

.avro_nav_container ul {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  color: white; 
}

.avro_nav_container ul a {
  text-decoration: none;
  color: white;
}

.avro_nav_container h3 {
  margin: 0 auto;
  padding: 10px 0px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.avro_nav_container h3:hover {
  background: #36CEF0;
}

.avro_nav_container img {
  padding: 0 0 0 5px;
  width: 24px;
  height: 24px;
}
